﻿@model NuntiusConfig.Models.WorkTimeMVC

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>


@{Html.EnableClientValidation(true);}


@using (Ajax.BeginForm("UpdateWorkTime", "WorkTimes",
                    new AjaxOptions { HttpMethod = "POST", OnSuccess = "OnSuccessDetails", OnFailure = "OnFailureDetails" }))
{
    @Html.AntiForgeryToken()


    <div class="modal-content">
        <div class="modal-header">
            <h4>Work time</h4>
            <button class="close" data-dismiss="modal" area-hidden="true">X</button>

        </div>
        <div class="modal-body">
            <dl class="dl-horizontal">
                @Html.ValidationSummary(true)

                @Html.HiddenFor(model => model.Id)

                <div class="editor-label">
                    <dt>Name:</dt>
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.Name)
                    @Html.ValidationMessageFor(model => model.Name)
                </div>

                <div class="editor-label">
                    <dt>Start time:</dt>
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.StartTime)
                    @Html.ValidationMessageFor(model => model.StartTime)
                </div>

                <div class="editor-label">
                    <dt>End time:</dt>
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.EndTime)
                    @Html.ValidationMessageFor(model => model.EndTime)
                </div>

                <div class="editor-label">
                    <dt>Week days:</dt>
                </div>
                <div class="editor-field">
                    @Html.CheckBoxListFor( model => model.WeekDays.PostedDays,
                                           model => model.WeekDays.AllDays,
                                           entity => entity.Value,
                                           entity => entity.Text,
                                           model => model.WeekDays.SelectedDays,
                                           MvcCheckBoxList.Model.Position.Vertical )
                </div>

            </dl>
            <div class="modal-footer">
                <p><input type="submit" value="Save" /></p>
            </div>
        </div>
    </div>
}