﻿@model NuntiusConfig.Models.WorkTimesModel

@{
}

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
<link rel="stylesheet" href="~/Content/bootstrap.min.css">
<script src="~/Scripts/bootstrap.min.js"></script>


<script type="text/javascript">

    function OnSuccessDetails(data) {

        $('#EditWorkTimeDlg').modal({ show: false });
        var url = '@Url.Action( "Index", "WorkTimes")';                    
        window.location.href = url;
    }
    function OnFailureDetails(data) {
        
        alert( "Error: '" + data.statusText + "'" );
    }

    function OnEditWorkTime(id) {

        $.ajax({
            url: '@Url.Action( "Details", "WorkTimes" )',
            type: 'POST',
            data: JSON.stringify({ id: id }),
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                $('#dialogContent').html(data);
                $('#EditWorkTimeDlg').modal({ show: true });
            },
            error: function (data) {

                alert("Error: '" + data.statusText + "'");
            }
        });
    }

    function OnDeleteWorkTime(id) {
        $.ajax({
            url: '@Url.Action( "DeleteWorkTimeById", "WorkTimes" )',
            type: 'POST',
            data: JSON.stringify({ id: id }),
            contentType: 'application/json; charset=utf-8',
            success: function (data) {

                var url = '@Url.Action( "Index", "WorkTimes")';                    
                window.location.href = url;

            },
            error: function (data) {

                alert("Error: '" + data.statusText + "'");

            }
        });
    }

</script>
<style type="text/css">
</style>
@{
    var grid = new WebGrid(source: Model.WorkTimes, canPage: true, defaultSort: "Id", rowsPerPage: 100, canSort: true);
}

<div class="row">
    <div class="col-md-4">
        <h2>Work times</h2>

        <div id="gridContent" style="padding-right: 40%;">
            @grid.GetHtml(
           tableStyle: "table",
           fillEmptyRows: false,
           alternatingRowStyle: "alt",
           headerStyle: "thead-dark",
           footerStyle: "foot-grid",
           mode: WebGridPagerModes.All,
           firstText: "<< First",
           previousText: " < Previous",
           nextText: "Next >",
           lastText: "Last >>",
           caption: "",
           emptyRowCellValue: null,
           columns:
            grid.Columns(
                grid.Column( "Name", "Name", format: @<text><label id="lbName">@item.Name</label></text> ),
                  grid.Column( "Start time", "StartTime", format: @<text><label id="lbName">@item.StartTime.ToString()</label></text> ),
                 grid.Column( "End time", "EndTime", format: @<text><label id="lbName">@item.EndTIme.ToString()</label></text> ),
                 grid.Column( "Week days", "WeekDays", format: @<text><label id="lbName">@item.WeekDays.StringSelectedDays</label></text> ),
               grid.Column( "Action", format: @<text>
                <button onclick="OnEditWorkTime( @item.Id )" class="btn">Edit</button>
                <button onclick="OnDeleteWorkTime( @item.Id )" class="btn"> Delete</button>
            </text>, canSort: false )
       ) )
        </div>

        <button id="CreateConfig" onclick="OnEditWorkTime(0)" class="btn">Create</button>

        <div id="EditWorkTimeDlg" class="modal fade">
            <div id="dialogContent" class="modal-dialog" style="width:50%;"></div>
        </div>

    </div>
</div>   