﻿@model NuntiusConfig.Models.OPCItemsModel

@{
}

<script src="@Url.Content("~/Scripts/jquery-3.3.1.min.js")"></script>
<link rel="stylesheet" href="@Url.Content("~/Content/bootstrap.min.css")">
<script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>


<div class="row">
    <div class="col-md-4">
        <h2>OPC Items:</h2>

        @{Html.EnableClientValidation( true );}

        @using( Html.BeginForm( "LoadItems", "OPCItems", FormMethod.Post, new
        {
            enctype = "multipart/form-data"
        } ) )
        {
            <div>
                @Html.DropDownListFor( model => model.CurrentConfig, Model.Configurations )
            </div>
            <input type="file" name="Files" />
            <p><input type="submit" value="Load" class="btn" /></p>
        }
    </div>
</div>