﻿@model NuntiusConfig.Models.EventSaverConfigMVC


<script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>

<script type="text/javascript">

</script>

@{Html.EnableClientValidation( true );}


@using( Ajax.BeginForm( "UpdateEventSaverConfig", "EventSaverConfig",
                    new AjaxOptions { HttpMethod = "POST", OnSuccess = "OnSuccessDlgDetails", OnFailure = "OnFailureDlgDetails" } ) )
{
    @Html.AntiForgeryToken()


    <div class="modal-content">
        <div class="modal-header">
            <h4>Message saver configurations</h4>
            <button class="close" data-dismiss="modal" area-hidden="true">X</button>

        </div>
        <div class="modal-body">
            <dl class="dl-horizontal">
                @Html.ValidationSummary( true )

                @Html.HiddenFor( model => model.Id )

                <div class="editor-label">
                    <dt>Name:</dt>
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor( model => model.Description )
                    @Html.ValidationMessageFor( model => model.Description )
                </div>

                <div class="editor-label">
                    <dt>Connection string:</dt>
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor( model => model.ConnectionString )
                    @Html.ValidationMessageFor( model => model.ConnectionString )
                </div>

                <div class="editor-label">
                    <dt>Table name:</dt>
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor( model => model.TableName )
                    @Html.ValidationMessageFor( model => model.TableName )
                </div>

                <div class="editor-label">
                    <dt>Priority (sort):</dt>
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor( model => model.Priority )
                    @Html.ValidationMessageFor( model => model.Priority )
                </div>

                <div class="editor-label">
                    <dt>Email administrator:</dt>
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor( model => model.EMailAdministrator )
                    @Html.ValidationMessageFor( model => model.EMailAdministrator )
                </div>

                <div class="editor-label">
                    <dt>OPC UA host:</dt>
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor( model => model.OPCUAUrlServer )
                    @Html.ValidationMessageFor( model => model.OPCUAUrlServer )
                </div>

                <div class="editor-label">
                    <dt>OPC UA item name:</dt>
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor( model => model.OPCItem )
                    @Html.ValidationMessageFor( model => model.OPCItem )
                </div>
            </dl>
            <div class="modal-footer">
                <p><input type="submit" value="Save" /></p>
            </div>
        </div>
    </div>
}