﻿@model NuntiusConfig.Models.EventSaverConfigModel

@{
}
<script src="@Url.Content("~/Scripts/jquery-3.3.1.min.js")"></script>
<link rel="stylesheet" href="@Url.Content("~/Content/bootstrap.min.css")">
<script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>



<script type="text/javascript">

    function OnSuccessDlgDetails(data) {

        $('#EditSaverConfigurationDlg').modal({ show: false });
        var url = '@Url.Action( "Index", "EventSaverConfig" )';
        window.location.href = url;
    }

    function OnFailureDlgDetails(data) {

        alert( "Error: '" + data.statusText + "'" );
    }

    function OnEditConfig( id )
    {
        $.ajax({
            url: '@Url.Action("Details", "EventSaverConfig" )',
            data: JSON.stringify({ id: parseInt(id) }),
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {

                $('#dialogContent').html( data );
                $('#EditSaverConfigurationDlg').modal({ show: true });

            },
            error: function (data) {

            }
        });
    }

    function OnDeleteConfig(id) {
        $.ajax({
            url: '@Url.Action( "DeleteSaverById", "EventSaverConfig" )',
            data: JSON.stringify({ id: parseInt(id) }),
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            success: function (data)
            {

                window.location.href = '@Url.Action( "Index", "EventSaverConfig" )';

            },
            error: function (data) {

                debugger;
            }
        });
    }

</script>
<style type="text/css">
</style>
@{
    var grid = new WebGrid( source: Model.EventSaverConfigs, canPage: true, defaultSort: "Id", rowsPerPage: 100, canSort: true );
}

<div class="row">
    <div class="col-md-4">
        <h2>Saltos</h2>

        <div id="gridContent" style="padding-right: 40%;">
            @grid.GetHtml(
                 tableStyle: "table",
                 fillEmptyRows: false,
                 alternatingRowStyle: "alt",
                 headerStyle: "thead-dark",
                 footerStyle: "foot-grid",
                 mode: WebGridPagerModes.All,
                 firstText: "<< First",
                 previousText: " < Previous",
                 nextText: "Next >",
                 lastText: "Last >>",
                 caption: "",
                 emptyRowCellValue: null,
            columns:
                grid.Columns(
                grid.Column( "Name", "Name", format: @<text><label id="lbName">@item.Description</label></text> ),
                    grid.Column( "Priority", "Priority", format: @<text><label id="lbName">@item.Priority</label></text> ),
                  grid.Column( "EMailAdministrator", "EMail Administrator", format: @<text><label id="lbName">@item.EmailAdministrator</label></text> ),
                  grid.Column( "OPC", "OPC", format: @<text><label id="lbName">
                        @( String.IsNullOrWhiteSpace( item.OPCUAUrlServer ) == false ||
                                   String.IsNullOrWhiteSpace( item.OPCItem ) == false ? String.Format( "url:{0} item:{1}", item.OPCItem, item.OPCUAUrlServer ) : "" )
            </label></text> ),
                 grid.Column( "Action", format: @<text>
                    <button onclick="OnEditConfig( @item.Id )" class="btn">Edit</button>
                    <button onclick="OnDeleteConfig( @item.Id )" class="btn"> Delete</button>
                </text>, canSort: false )
                                                                                                                       ) )
        </div>
        <button id="CreateConfig" onclick="OnEditConfig(0)" class="btn">Create</button>

        <div id="EditSaverConfigurationDlg" class="modal fade">
            <div id="dialogContent" class="modal-dialog" style="width:50%;"></div>
        </div>

    </div>
</div>