﻿@model NuntiusConfig.Models.ConfigMVC
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>


@{Html.EnableClientValidation(true);}


@using (Ajax.BeginForm("UpdateConfiguration", "Configurations",
                    new AjaxOptions { HttpMethod = "POST", OnSuccess = "OnSuccessDlgDetails", OnFailure = "OnFailureDlgDetails" }))
{
    @Html.AntiForgeryToken()


    <div class="modal-content">
        <div class="modal-header">
            <h4>Configuration</h4>
            <button class="close" data-dismiss="modal" area-hidden="true">X</button>

        </div>
        <div class="modal-body">
            <dl class="dl-horizontal">
                @Html.ValidationSummary(true)

                @Html.HiddenFor(model => model.Id)

                <div class="editor-label">
                    <dt>Name:</dt>
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.Name)
                    @Html.ValidationMessageFor(model => model.Name)
                </div>

                <div class="editor-label">
                    <dt>Active:</dt>
                </div>
                <div class="editor-field">
                    @Html.CheckBoxFor(model => model.Active)
                </div>

                <div class="editor-label">
                    <dt>Visible:</dt>
                </div>
                <div class="editor-field">
                    @Html.CheckBoxFor(model => model.Visible)
                </div>

                <div class="editor-label">
                    <dt>Timeout:</dt>
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.Timeout)
                    @Html.ValidationMessageFor(model => model.Timeout)
                </div>

                <div class="editor-label">
                    <dt>Alarm detected:</dt>
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.AlarmDetected)
                    @Html.ValidationMessageFor(model => model.AlarmDetected)
                </div>

                <div class="editor-label">
                    <dt>Publishing interval:</dt>
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.PublishingInterval)
                    @Html.ValidationMessageFor(model => model.PublishingInterval)
                </div>

                <div class="editor-label">
                    <dt>Sampling interval:</dt>
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.SamplingInterval)
                    @Html.ValidationMessageFor(model => model.SamplingInterval)
                </div>

                <div class="editor-label">
                    <dt>Queue size:</dt>
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.QueueSize)
                    @Html.ValidationMessageFor(model => model.QueueSize)
                </div>

                @*<div class="editor-label">
                            <dt>Groups:</dt>
                        </div>
                        <div class="editor-field">
                            @Html.CheckBoxListFor( model => model.Groups.Posted,
                                                   model => model.Groups.AllItems,
                                                   entity => entity.Value,
                                                   entity => entity.Text,
                                                   model => model.Groups.Selected,
                                                   MvcCheckBoxList.Model.Position.Vertical )
                    </div>*@

            </dl>
            <div class="modal-footer">
                <p><input type="submit" value="Save" /></p>
            </div>
        </div>
    </div>
}
