﻿@model NuntiusConfig.Models.ConfigurationsModel

@{
}

<script src="@Url.Content("~/Scripts/jquery-3.3.1.min.js")"></script>
<link rel="stylesheet" href="@Url.Content("~/Content/bootstrap.min.css")">
<script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>



<script type="text/javascript">

    function OnSuccessDlgDetails(data) {

        $('#EditConfigurationDlg').modal({ show: false });
        var url = '@Url.Action( "Index", "Configurations")';
        window.location.href = url;
    }
    function OnFailureDlgDetails(data) {

        alert( "Error: '" + data.statusText + "'" );
    }

    function OnEditConfig( id )
    {
        $.ajax({
            url: '@Url.Action("Details", "Configurations")',
            data: JSON.stringify({ id: parseInt(id) }),
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {

                $('#dialogContent').html(data);
                $('#EditConfigurationDlg').modal({ show: true });

            },
            error: function (data) {

                alert("Error: '" + data.statusText + "'");

            }
        });
    }

    function OnDeleteConfig(id) {
        $.ajax({
            url: '@Url.Action("DeleteConfigById", "Configurations")',
            data: JSON.stringify({ id: parseInt(id) }),
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            success: function (data)
            {

                window.location.href = '@Url.Action( "Index", "Configurations" )';

            },
            error: function (data) {

                alert("Error: '" + data.statusText + "'");
            }
        });
    }

</script>
<style type="text/css">
</style>
@{
    var grid = new WebGrid( source: Model.Configurations, canPage: true, defaultSort: "Id", rowsPerPage: 100, canSort: true );
}

<div class="row">
    <div class="col-md-4">        
        <h2>Configurations</h2>

        <br />
        <div id="gridContent" style="padding-right: 60%;">
            @grid.GetHtml(
                 tableStyle: "table",
                 fillEmptyRows: false,
                 alternatingRowStyle: "alt",
                 headerStyle: "thead-dark",
                 footerStyle: "foot-grid",
                 mode: WebGridPagerModes.All,
                 firstText: "<< First",
                 previousText: " < Previous",
                 nextText: "Next >",
                 lastText: "Last >>",
                 caption: "",
                 emptyRowCellValue: null,
            columns:
                grid.Columns(
                grid.Column( "Name", "Name", format: @<text><label id="lbName">@item.Name</label></text> ),
                           grid.Column( "Status", "Status", format: @<text><label id="lbName">@( item.Active ? "Active" : "No active")</label></text> ),
                          grid.Column( "Visible", "Visible", format: @<text><label id="lbName">@( item.Visible ? "Visible" : "No visible")</label></text> ),

                                     grid.Column( "Action", format: @<text>
                                        <button onclick="OnEditConfig( @item.Id )" class="btn">Edit</button>
                                        <button onclick="OnDeleteConfig( @item.Id )" class="btn"> Delete</button>
                                    </text>, canSort: false )
                                                                                                     ) )
        </div>
        <button id="CreateConfig" onclick="OnEditConfig(0)" class="btn">Create</button>

        <div id="EditConfigurationDlg" class="modal fade">
            <div id="dialogContent" class="modal-dialog" style="width:50%"></div>
        </div>

    </div>
</div>