﻿
@{    
}
<div class="container">
    <div class="row">
        <div>
            @*<h2 style="float: right; padding-right: 40%;">*@
            @Html.ActionLink( "Configurations", "Index", "Configurations" )
            </br>
            @Html.ActionLink( "Work times", "Index", "WorkTimes" )
            </br>
            @Html.ActionLink( "Messages saltos", "Index", "EventSaverConfig" )
            </br>
            @Html.ActionLink( "Users", "Index", "Users" )
            </br>
            @Html.ActionLink( "Groups", "Index", "Groups" )
            </br>
            @Html.ActionLink( "Load OPC UA items", "Index", "OPCItems" )
            </br>
            @Html.ActionLink( "Aqualogy OPC Service", "Index", "Service" )
            </br>
            @Html.ActionLink( "WCF Aqualogy OPC Service", "Index", "WCFService" )
            @*</h2>*@
        </div>
    </div>
</div>
