﻿@model SecurityPoligon.Models.EditModel


@{
    ViewBag.Title = "Edit";
}

<h2>Edit user</h2>

@using( Html.BeginForm() )
{
    @Html.AntiForgeryToken()

    <div>
        @Html.ValidationSummary( true, "" )
        <div>
            <p>Year: @Html.EditorFor( model => model.Year )</p>
        </div>

        <div>
            <div>
                <input type="submit" value="SAVE" />
            </div>
        </div>
    </div>
}

