﻿@model SecurityPoligon.Models.LoginModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Login...</h2>


@using( Html.BeginForm() )
{
    @Html.AntiForgeryToken()

    <div>
        @Html.ValidationSummary()
        <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
        <p>
            <label>Email</label><br />
            @Html.EditorFor( x => x.Email )
        </p>
        <p>
            <label>Password</label><br />
            @Html.EditorFor( x => x.Password )
        </p>
        <p><button type="submit">LogIn</button></p>
    </div>
}
