﻿@model AspNetIdentityApp.Models.RegisterModel

@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>


@using( Html.BeginForm() )
{
    @Html.AntiForgeryToken()

    <div>
        <h4>Reg user</h4>
        <hr />
        @Html.ValidationSummary( false )

        <div>
            e-mail
            <div>
                @Html.EditorFor( model => model.Email )
            </div>
        </div>

        <div>
            Password
            <div>
                @Html.EditorFor( model => model.Password )
            </div>
        </div>

        <div>
            Password
            <div>
                @Html.EditorFor( model => model.PasswordConfirm )
            </div>
        </div>

        <div>
            <div>
                <input type="submit" value="Save" />
            </div>
        </div>
    </div>
}

