﻿@model NuntiusConfig.Models.UserMVC
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>


@{Html.EnableClientValidation( true );}

@using( Ajax.BeginForm( "UpdateUser", "Users",
                    new AjaxOptions { HttpMethod = "POST", OnSuccess = "OnSuccessDlgDetails", OnFailure = "OnFailureDlgDetails" } ) )
{
    @Html.AntiForgeryToken()


    <div class="modal-content">
        <div class="modal-header">
            <h4>User</h4>
            <button class="close" data-dismiss="modal" area-hidden="true">X</button>

        </div>
        <div class="modal-body">
            <dl class="dl-horizontal">
                @Html.ValidationSummary( true )

                @Html.HiddenFor( model => model.Id )

                <div class="editor-label">
                    <dt>Alias:</dt>
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor( model => model.Alias )
                    @Html.ValidationMessageFor( model => model.Alias )
                </div>

                <div class="editor-label">
                    <dt>First name:</dt>
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor( model => model.FirstName )
                    @Html.ValidationMessageFor( model => model.FirstName )
                </div>

                <div class="editor-label">
                    <dt>Second name:</dt>
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor( model => model.SecondName )
                    @Html.ValidationMessageFor( model => model.SecondName )
                </div>

                <div class="editor-label">
                    <dt>Channel:</dt>
                </div>
                <div class="editor-field">
                    @Html.RadioButtonFor( model => model.Channel, "sms" ) SMS
                    @Html.RadioButtonFor( model => model.Channel, "mail" ) E-Mail
                    @Html.RadioButtonFor( model => model.Channel, "sms_mail" ) SMS + E-Mail
                </div>

                <div class="editor-label">
                    <dt>E-Mails:</dt>
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor( model => model.EMails, new { @class = "col-12" } )
                </div>

                <div class="editor-label">
                    <dt>Phones:</dt>
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor( model => model.Phones, new { @class = "col-12" } )
                </div>

                <div class="editor-label">
                    <dt>Event time:</dt>
                </div>
                <div class="editor-field">
                    @Html.RadioButtonFor( model => model.TimeOfEvents, OPCConfigModel.Model.User.eTimeEvent.eAllTime ) All time
                    @Html.RadioButtonFor( model => model.TimeOfEvents, OPCConfigModel.Model.User.eTimeEvent.eInside ) Inside
                    @Html.RadioButtonFor( model => model.TimeOfEvents, OPCConfigModel.Model.User.eTimeEvent.eOutside ) Outside
                </div>

                <div class="editor-label">
                    <dt>Work times:</dt>
                </div>
                <div class="editor-field">
                    @Html.CheckBoxListFor( model => model.WorkTimes.Posted,
                            model => model.WorkTimes.AllItems,
                            entity => entity.Value,
                            entity => entity.Text,
                            model => model.WorkTimes.Selected,
                            MvcCheckBoxList.Model.Position.Vertical )
                </div>

            </dl>
            <div class="modal-footer">
                <p><input type="submit" value="Save" /></p>
            </div>
        </div>
    </div>
}

