﻿@model NuntiusConfig.Models.UsersModel
@{
}
<script src="@Url.Content("~/Scripts/jquery-3.3.1.min.js")"></script>
<link rel="stylesheet" href="@Url.Content("~/Content/bootstrap.min.css")">
<script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>

<script type="text/javascript">

    function OnSuccessDlgDetails(data) {

        $('#EditUserDlg').modal({ show: false });
        var url = '@Url.Action( "Index", "Users")';
        window.location.href = url;
    }

    function OnFailureDlgDetails(data) {

        alert( "Error: '" + data.statusText + "'" );
    }


    function OnEditUser( id )
    {
        $.ajax({
            url: '@Url.Action( "Details", "Users" )',
            data: JSON.stringify({ id: parseInt(id) }),
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {

                $('#dialogContent').html(data);
                $('#EditUserDlg').modal({ show: true });

            },
            error: function (data) {

                debugger;

            }
        });
    }

    function OnDeleteUser(id) {
        $.ajax({
            url: '@Url.Action( "DeleteUserById", "Users" )',
            data: JSON.stringify({ id: parseInt(id) }),
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            success: function (data)
            {
                window.location.href = '@Url.Action( "Index", "Users" )';
            },
            error: function (data) {

                debugger;

            }
        });
    }

</script>
<style type="text/css">
</style>
@{
    var grid = new WebGrid( source: Model.Users, canPage: true, defaultSort: "Id", rowsPerPage: 100, canSort: true );
}

<div class="row">
    <div class="col-md-4">
        <h2>Users</h2>

        <div id="gridContent" style="padding-right: 40%;">
            @grid.GetHtml(
                 tableStyle: "table",
                 fillEmptyRows: false,
                 alternatingRowStyle: "alt",
                 headerStyle: "thead-dark",
                 footerStyle: "foot-grid",
                 mode: WebGridPagerModes.All,
                 firstText: "<< First",
                 previousText: " < Previous",
                 nextText: "Next >",
                 lastText: "Last >>",
                 caption: "",
                 emptyRowCellValue: null,
            columns:
                grid.Columns(
                grid.Column( "Alias", "Alias", format: @<text><label id="lbName">@item.Alias</label></text> ),
                     grid.Column( "FirstName", "FirstName", format: @<text><label id="lbName">@item.FirstName</label></text> ),
                   grid.Column( "SecondName", "SecondName", format: @<text><label id="lbName">@item.SecondName</label></text> ),
                 grid.Column( "Action", format: @<text>
                    <button onclick="OnEditUser( @item.Id )" class="btn">Edit</button>
                    <button onclick="OnDeleteUser( @item.Id )" class="btn"> Delete</button>
                </text>, canSort: false )
                                                                                                                       ) )
        </div>
        <div class=" col-12">
            <button id="CreateUser" onclick="OnEditUser(0)" class="btn">Create</button>
        </div>

        <div id="EditUserDlg" class="modal fade">
            <div id="dialogContent" class="modal-dialog"></div>
        </div>

    </div>
</div>
