﻿@model NuntiusConfig.Models.SMTPConfigMVC

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>


@{Html.EnableClientValidation( true );}


@using( Ajax.BeginForm( "UpdateSMTP", "Service",
                    new AjaxOptions { HttpMethod = "POST", OnSuccess = "OnSuccessDlgDetails", OnFailure = "OnFailureDlgDetails" } ) )
{
    @Html.AntiForgeryToken()


    <div class="modal-content">
        <div class="modal-header">
            <h4>SMTP Config</h4>
            <button class="close" data-dismiss="modal" area-hidden="true">X</button>

        </div>
        <div class="modal-body">
            <dl class="dl-horizontal">
                @Html.ValidationSummary( true )

                <div class="editor-label">
                    <dt>Host:</dt>
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor( model => model.Host , htmlAttributes: new { id = "tbIdHost" } )
                    @Html.ValidationMessageFor( model => model.Host )
                </div>

                <div class="editor-label">
                    <dt>Port:</dt>
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor( model => model.Port, htmlAttributes: new { id = "tbIdPort" } )
                    @Html.ValidationMessageFor( model => model.Port )
                </div>

                <div class="editor-label">
                    <dt>User:</dt>
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor( model => model.User, htmlAttributes: new { id = "tbIdUser" } )
                    @Html.ValidationMessageFor( model => model.User )
                </div>

                <div class="editor-label">
                    <dt>Password:</dt>
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor( model => model.Password, htmlAttributes: new { id = "tbIdPassword" } )
                    @Html.ValidationMessageFor( model => model.Password )
                </div>

                <div class="editor-label">
                    <dt>From:</dt>
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor( model => model.From, htmlAttributes: new { id = "tbIdFrom" } )
                    @Html.ValidationMessageFor( model => model.From )
                </div>

                <div class="editor-label">
                    <dt>Enable SSL:</dt>
                </div>
                <div class="editor-field">
                    @Html.CheckBoxFor( model => model.EnableSSL, htmlAttributes: new { id = "chkIdSSLEnable" } )
                    @Html.ValidationMessageFor( model => model.EnableSSL )
                </div>
                <button onclick="TestConnection();" class="btn" type="button" >Test</button>
            </dl>
            <div class="modal-footer">
                <p><input type="submit" value="Save" /></p>
            </div>
        </div>
    </div>
}

