﻿@model NuntiusConfig.Models.ServiceModel

@{
}

<script src="@Url.Content("~/Scripts/jquery-3.3.1.min.js")"></script>
<link rel="stylesheet" href="@Url.Content("~/Content/bootstrap.min.css")">
<script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>

<script>

    function OnSuccessDlgDetails(data)
    {
        $('#EditSMTPDlg').modal({ show: false });
        var url = '@Url.Action( "Index", "Service" )';
        window.location.href = url;
    }

    function OnFailureDlgDetails(data)
    {
        alert( "Error: '" + data.statusText + "'" );
    }

    function TestConnection()
    {
        debugger;

        var host = $('#tbIdHost').val();
        var port = document.getElementById("tbIdPort").value;
        if( !isNaN( parseInt( port ) ) )
        {
            var user = document.getElementById("tbIdUser").value;
            var password = document.getElementById("tbIdPassword").value;
            var from = $("#tbIdFrom").val();
            var enable_ssl = $('#chkIdSSLEnable').is(':checked');
            var port_num = parseInt(port);

            $.ajax({
                url: '@Url.Action("SMTPTest", "Service")',
                data: JSON.stringify({ Host: host, User: user, Password: password, From: from, EnableSSL: enable_ssl, Port: port_num }),
                type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                        success: function (data)
            {
                alert('Test OK!');
            },
            error: function (data)
            {

                alert("Error: '" + data.statusText + "'");

            }
            });
        }   

        return false;
    }

    function EditSMTPConfig()
    {
        $.ajax({
                url: '@Url.Action( "DetailsSMTP", "Service" )',
                type: 'POST',
                //data: JSON.stringify({ groupId: groupId, configurationId: configurationId }),
                contentType: 'application/json; charset=utf-8',
                success: function (data) {

                    $('#dialogContent').html(data);
                    $('#EditSMTPDlg').modal({ show: true });

                },
                error: function (data) {
                    alert(data);
                }
            });
    }
</script>

<div class="row">
    <div class="col-md-4">
        <h2>Service config</h2>
        <div>
            @{Html.EnableClientValidation( true );}

            @using( Html.BeginForm( "UpdateService", "Service", FormMethod.Post ) )
            {
                @Html.AntiForgeryToken()

                @Html.ValidationSummary( true )


                <div class="editor-label">
                    <dt>Actual state:</dt>
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor( model => model.ActualState )
                    @Html.ValidationMessageFor( model => model.ActualState )
                </div>

                <div class="editor-label">
                    <dt>Process Alarm detected (sec):</dt>
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor( model => model.ProcessDetected )
                    @Html.ValidationMessageFor( model => model.ProcessDetected )
                </div>

                <div class="editor-label">
                    <dt>Process SALTO (min):</dt>
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor( model => model.ProcessSalto )
                    @Html.ValidationMessageFor( model => model.ProcessSalto )
                </div>

                <div class="editor-label">
                    <dt>Process SALTO History (min):</dt>
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor( model => model.ProcessSaltoHistory )
                    @Html.ValidationMessageFor( model => model.ProcessSaltoHistory )
                </div>


                <div class="editor-label">
                    <dt>SMS limit:</dt>
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor( model => model.SmsLimit )
                    @Html.ValidationMessageFor( model => model.SmsLimit )
                </div>

                <div class="editor-label">
                    <dt>Max length log file (Mb):</dt>
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor( model => model.MaxLog )
                    @Html.ValidationMessageFor( model => model.MaxLog )
                </div>

                <div class="editor-label">
                    <dt>URL WCF service:</dt>
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor( model => model.UrlService )
                    @Html.ValidationMessageFor( model => model.UrlService )
                </div>

                <div class="editor-label">
                    <dt>LOG:</dt>
                </div>
                <div class="editor-field">
                    @Html.CheckBoxFor( model => model.LogError ) Errors
                    @Html.CheckBoxFor( model => model.LogDebug ) Debugs
                    @Html.CheckBoxFor( model => model.LogMessage ) Messages
                </div>
                <p><input type="submit" value="Save" class="btn" /></p>
            }

            <button onclick="EditSMTPConfig(); return false;" class="btn">SMTP Config</button>

        </div>
        <div id="EditSMTPDlg" class="modal fade">
            <div id="dialogContent" class="modal-dialog"></div>
        </div>
    </div>
</div>
