﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render( "~/Content/css" )
    @Scripts.Render( "~/bundles/modernizr" )


    <script type="text/javascript">

        function Layout_RestartOPCWCFService()
    {
        $.ajax({
            url: '@Url.Action( "Restart", "WCFService" )',
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {

                alert('Restart OPC service OK!');
                var ctrl = $("#layoutRestartCtrl");
                ctrl.hide();                
            },
            error: function (data) {

                alert(data.statusText);
            }
        });
    } 

    </script>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">

            @*@if( Session["NeedRestartService"] != null && true == (Boolean)Session["NeedRestartService"] )
            {
                <div>
                    @Html.Raw( @NuntiusConfig.App_Code.Helpers.ButtonHelper.AqualogyOPCWCFServiceCtrl( "Restart",
                                              new
                                              {
                                                  Id = "layoutRestartCtrl",
                                                  UrlImage = Url.Content( "~/Content/Restart.png" ),
                                                  StyleImage = "vertical-align: middle;width:32px;height:32px;",
                                                  OnClick = "Layout_RestartOPCWCFService(); return false;"
                                              } ) )
                </div>
            }*@
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink( "Nuntius", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" } )
                </div>

                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">                        
                        <li>@Html.ActionLink( "Home", "Index", "Home" )</li>

                    </ul>
                </div>
            </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Nuntius Web Configurations</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
