﻿@model NuntiusConfig.Models.GroupMVC

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>

<script type="text/javascript">

</script>

@{Html.EnableClientValidation( true );}


@using( Ajax.BeginForm( "UpdateGroup", "Groups",
                    new AjaxOptions { HttpMethod = "POST", OnSuccess = "OnSuccessDlgDetails", OnFailure = "OnFailureDlgDetails" } ) )
{
    @Html.AntiForgeryToken()


    <div class="modal-content">
        <div class="modal-header">
            <h4>Group</h4>
            <button class="close" data-dismiss="modal" area-hidden="true">X</button>

        </div>
        <div class="modal-body">
            <dl class="dl-horizontal">

                @Html.ValidationSummary( true )

                @Html.HiddenFor( model => model.Id )
                @Html.HiddenFor( model => model.IdConfig )

                <div class="editor-label">
                    <dt>Name:</dt>
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor( model => model.Name )
                    @Html.ValidationMessageFor( model => model.Name )
                </div>
                <div class="editor-label">
                    <dt>Users:</dt>
                </div>
                <div class="editor-field">
                    @Html.CheckBoxListFor( model => model.Users.Posted,
                            model => model.Users.AllItems,
                            entity => entity.Value,
                            entity => entity.Text,
                            model => model.Users.Selected,
                            MvcCheckBoxList.Model.Position.Vertical )
                </div>
            </dl>
            <div class="modal-footer">
                <p><input type="submit" value="Save" /></p>
            </div>
        </div>
    </div>
}

