﻿@model NuntiusConfig.Models.GroupsModel

@{
}

<script src="@Url.Content("~/Scripts/jquery-3.3.1.min.js")"></script>
<link rel="stylesheet" href="@Url.Content("~/Content/bootstrap.min.css")">
<script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>

<script>

        function OnSuccessDlgDetails(data)
        {            
            $('#EditGroupDlg').modal({ show: false });
            //var url = '@Url.Action( "Index", "EditGroupDlg" )';                    
            var url = '@Url.Action( "IndexById", "Groups" )' + '/?id=' + data.ConfigurationId;                    
            window.location.href = url;
        }

        function OnFailureDlgDetails(data)
        {
        
            alert( "Error: '" + data.statusText + "'" );
        }

        function OnDeleteGroup(groupId, configurationId) {
            $.ajax({
                url: '@Url.Action( "DeleteById", "Groups" )',
                type: 'POST',
                data: JSON.stringify({ idGroup: groupId, idConfig: configurationId }),
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    
                    var url = '@Url.Action( "IndexById", "Groups" )' + '/?id=' + configurationId;                    
                    window.location.href = url;
                },
                error: function (data) {
                    
                }
            });
        }

        function CallChangefunc(value) {

            var SelectedValue = $('#ddlConfigurations').val();

            var url = '@Url.Action( "IndexById", "Groups" )' + '/?id=' + SelectedValue;                    
            window.location.href = url;
        }

        function OnEditGroup( groupId, configurationId )
        {
            $.ajax({
                url: '@Url.Action( "Details", "Groups" )',
                type: 'POST',
                data: JSON.stringify({ groupId: groupId, configurationId: configurationId }),
                contentType: 'application/json; charset=utf-8',
                success: function (data) {

                    $('#dialogContent').html(data); 
                    $('#EditGroupDlg').modal({ show: true });

                },
                error: function (data) {

                }
            });    
        }

 </script>

 @{
    var grid = new WebGrid( source: Model.SelectedConfigGroups, canPage: true, defaultSort: "Id", rowsPerPage: 100, canSort: true );
 }

<div class="row">
    <div class="col-md-4">       
       <h2>Groups</h2>

        @Html.DropDownList( "ddlConfigurations", Model.Configurations, new { @onchange = "CallChangefunc(this.value)" } )

        @grid.GetHtml(
             tableStyle: "table",
             fillEmptyRows: false,
             alternatingRowStyle: "alt",
             headerStyle: "grid-header",
             footerStyle: "foot-grid",
             mode: WebGridPagerModes.All,
             firstText: "<< First",
             previousText: " < Previous",
             nextText: "Next >",
             lastText: "Last >>",
             caption: "",
             emptyRowCellValue: null,

        columns:
            grid.Columns(
            grid.Column( "Name", "Group name", format: @<text><label id="lbDescription">@item.Name</label></text> ),
               grid.Column( "Action", format: @<text>
                <button onclick="OnEditGroup( @item.Id, @Model.SelectedConfigurationId )" class="btn">Edit</button>
                <button onclick="OnDeleteGroup( @item.Id, @Model.SelectedConfigurationId )" class="btn"> Delete</button>
            </text>, canSort: false )
                                                    ) )

        <button id="CreateGroup" onclick="OnEditGroup( 0, @Model.SelectedConfigurationId )" class="btn">Create</button>

        <div id="EditGroupDlg" class="modal fade">
            <div id="dialogContent" class="modal-dialog"></div>
        </div>

    </div>
</div>